@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.aside {
  align-items: center;
  background-color: rgba(255, 187, 252, 0.5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 20vw;
}

.aside-icons {
  height: 10vh;
  width: 10vh;
}

a p {
  color: #BD27FF;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}